interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.atptour.com/en/rankings/singles
  response:
    body:
      string: "<!doctype html>\r\n<html class=\"no-js\" lang=\"en\" dir=\"ltr\">\r\n<head>\r\n
        \   <script>\r\n    window.atp_settings = {};\r\n    window.atp_settings.pre_roll_ad_unit
        = \"video-ad-atp\";\r\n</script>\r\n\r\n\r\n    \r\n\r\n    <!-- GTM Head
        Tag -->\r\n    \r\n\r\n<!-- Google Tag Manager -->\r\n<script nonce=\"3df302fd-8a8a-48bc-8291-576c4425dfcb\">\r\n
        \       (function (w, d, s, l, i) {\r\n            w[l] = w[l] || []; w[l].push({\r\n
        \               'gtm.start':\r\n                    new Date().getTime(),
        event: 'gtm.js'\r\n            }); var f = d.getElementsByTagName(s)[0],\r\n
        \               j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l
        : ''; j.async = true; j.nonce='3df302fd-8a8a-48bc-8291-576c4425dfcb'; j.src
        =\r\n                    'https://www.googletagmanager.com/gtm.js?id=' + i
        + dl; f.parentNode.insertBefore(j, f);\r\n    })(window, document, 'script',
        'dataLayer', 'GTM-KP6F8L8');\r\n</script>\r\n<!-- End Google Tag Manager -->\r\n\r\n
        \   \r\n\r\n    \r\n<!-- disable auto format for telephone numbers -->\r\n<meta
        name=\"format-detection\" content=\"telephone=no\">\r\n\r\n<meta name=\"viewport\"
        content=\"initial-scale=1.0, width=device-width, user-scalable=yes, minimum-scale=1.0,
        maximum-scale=1.25\">\r\n<meta charset=\"UTF-8\">\r\n<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge,chrome=1\">\r\n<meta name=\"SKYPE_TOOLBAR\" content=\"SKYPE_TOOLBAR_PARSER_COMPATIBLE\">\r\n\r\n\r\n<meta
        property=\"fb:app_id\" content=\"\" />\r\n<meta property=\"fb:pages\" content=\"\">\r\n\r\n<meta
        name=\"google\" content=\"notranslate\" />\r\n<meta name=\"medium\" content=\"website\"
        />\r\n\r\n    <title>ATP Rankings | PIF ATP Rankings (Singles) | ATP Tour
        | Tennis | ATP Tour | Tennis</title>\r\n    <meta name=\"description\" content=\"Official
        PIF ATP Rankings (Singles) showing a list of top players in men&#39;s tennis
        rankings on the ATP Tour, featuring Novak Djokovic, Rafael Nadal, Jannik Sinner,
        Carlos Alcaraz and more.\" />\r\n    <meta name=\"title\" content=\"ATP Rankings
        | PIF ATP Rankings (Singles) | ATP Tour | Tennis | ATP Tour | Tennis\" />\r\n
[...]
